.create {
    max-width: 30%;
    margin: 100px auto;
}

.create input,
textarea {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

.create select {
    max-width: 20%;
    margin-bottom: 20px;
}

.create label {
    font-weight: 600;
}

.create p {
    display: flex;
    flex-direction: column;
}

.create fieldset {
    padding: 30px 30px;
    border-radius: 7px;
    position: relative;
    box-shadow: 0px 0px 12px -2px black;
}

.create fieldset legend {
    padding: 8px 28px 8px 9px;
    border: 1.5px solid rgb(143, 137, 137);
    border-radius: 4px;
    position: absolute;
    top: -19px;
    left: -2px;
    z-index: 0;
    background: white;
    box-shadow: 0px 0px 12px -2px black;
}