@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');
.header {
    color: white;
    background-color: rgb(47, 45, 45);
    color: white;
    text-align: center;
    padding: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.profileUl {
    display: flex;
}

.profileUl li {
    list-style: none;
    margin-right: 20px;
}

.profileUl li a {
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.profileUl li a:hover {
    background: rgba(0, 0, 0, 4);
    border: 1px solid black;
}

.offersUl {
    display: flex;
}

.offersUl li {
    list-style: none;
    margin-right: 20px;
}

.offersUl li a {
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.offersUl li a:hover {
    background: rgba(0, 0, 0, 4);
    border: 1px solid black;
}